body{
	padding-top: 50px;
	padding-bottom: 50px;
}

.carousel .item{
	height: 500px;
	background: black;
}

.carousel{
	height: 500px;
	background: black;
	margin-bottom: 60px;
}

.carousel-caption p{
	margin-bottom: 20px;
	font-size: 20px;
	line-height: 1.8;
}

#summary-container .col-md-4{
	text-align: center;
}

hr .divider{
	margin: 40px 0;
}
